<section class="section-collaborate">
    <article class="collaborate">
        <div></div>
        <img src="assets/img/footer-logo.svg" alt="">
        <h3>We collaborate with ambitious brands and people.
            <span>Let’s connect</span> :)
        </h3>
    </article>
    <article class="social">
        <div class="div-input">
            <h3>● STAY IN THE KNOW</h3>
            <p>Email Address</p>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <h2>● Social</h2>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
        <div>
            <h2>● INITIATIVES</h2>
            <ul>
                <li><a href="#">Crafted</a></li>
                <li><a href="#">Culture Manual</a></li>
                <li><a href="#">Applied</a></li>
                <li><a href="#">Brandbeats</a></li>
                <li><a href="#">Moves</a></li>
            </ul>
        </div>
        <div>
            <h2>● OFFICES</h2>
            <ul>
                <li><a href="#">San Diego – CA</a></li>
                <li><a href="#">Bay Area – CA</a></li>
                <li><a href="#">St. Louis – MO</a></li>
            </ul>
        </div>
</section>
<footer>
    <p>BASIC®, INC 10 - 20©</p>
    <p>EASY TO UNDERSTAND, IMPOSSIBLE TO IGNORE.™</p>
    <p>TERMS, PRIVACY POLICY</p>
</footer>

</body>

</html>