<%- include('./partials/header') %>
    <main id="WorkMain">
        <section id="EASY">
            <h1>EASY TO UNDERSTAND. ●IMPOSSIBLE TO IGNORE.</h1>
            <p>The work we create lives at the intersection of clarity and surprise and positions brands in culture through shared values and ideals.</p>
        </section>

        <section id="WorkSection">
            <div class="BRANDED">
                <ul>
                    <li>01/04</li>
                    <li>BRANDED ECOMMERCE</li>
                    <li>We go beyond best practices and build best-in-class D2C channels that drive commerce, shape culture, and define categories.</li>
                    <a href="#">Learne more</a>
                </ul>
            </div>
            <div class="Google">
                <div class="vedio3">
                    <ul>
                        <li>
                            <video src="assets/img/Google-Store.mp4" autoplay muted loop></video>
                        </li>
                        <li>Google Store</li>
                        <li>AN ECOMMERCE EXPERIENCE HELPING GOOGLE BRING ITS HARDWARE TO PEOPLE ACROSS THE GLOB </li>
                    </ul>
                </div>
                <div class="Beats">
                        <ul>
                       <li>
                           <img src='assets/img/beatsImg.jpg' alt=''>
                        </li>
                        <li>Beats By Dre</li>
                        <li>ENGINEERING A DIGITAL DESTINATION THAT MOVES AT THE SPEED OF CULTURE</li>
                    </ul>
                </div>
            </div>
        </section>

         <section id="WorkSection">
            <div class="DIGITAL">
                <ul>
                    <li>02/04</li>
                    <li>DIGITAL PRODUCTS + SERVICES</li>
                    <li>We identify and create digital products and services that create revenue channels and help brands thrive in the new economy.
                    </li>
                    <a href="#">Learne more</a>
                </ul>
            </div>
            <div class="Fender">
                <div class="PHOTOS">
                    <ul>
                        <li>.
                            <img src='assets/img/Fender.jpg' alt=''>
                        </li>
                        <li>Fender Academy</li>
                        <li>A WEB SERVICE TO MAKE SALES TRAINING FEEL LESS LIKE WORK AND MORE LIKE PLAY </li>
                    </ul>
                </div>
                <div class="American">
                        <ul>
                        <li>
                            <img src='assets/img/americanE.jpg' alt=''>
                        </li>
                        <li>American Express</li>
                        <li>LAYING A DESIGN FOUNDATION FOR FUTURE PRODUCTS AND SERVICES WITH THE OPEN APP</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="WorkSection">
            <div class="WEBSITES">
                <ul>
                    <li>03/04</li>
                    <li>WEBSITES + PLATFORMS</li>
                    <li>We conceive and create experiences that immerse consumers in the brand through a combination of utility and creativity.</li>
                    <a href="#">Learne more</a>
                </ul>
            </div>
            <div class="Riot">
                <div class="PHOTOS2">
                    <ul>
                        <li>
                            <img src='assets/img/Riot.jpg' alt=''>
                        </li>
                        <li>Riot Games</li>
                        <li>REVITALIZING THE RIOT GAMES BRAND WITH AN UPGRADED DIGITAL EXPERIENCE </li>
                    </ul>
                </div>
                <div class="SoftBank">
                        <ul>
                        <li>
                            <img src='assets/img/softbankImg.jpg' alt=''>
                        </li>
                        <li>SoftBank Vision Fund</li>
                        <li>BUILDING A DIGITAL DESTINATION FOR THE LEADING TECH INVESTMENT FUND</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="WorkSection">
            <div class="WEBSITES">
                <ul>
                    <li>04/04</li>
                    <li>BRANDING + ADVERTISING</li>
                    <li>We create identities, platforms, and activations that differentiate brands and position them to matter in culture.</li>
                    <a href="#">Learne more</a>
                </ul>
            </div>

            <div class="Riot">
                <div class="PHOTOS">
                    <ul>
                        <li>
                            <img src='assets/img/nerd.jpg' alt="">
                        </li>
                        <li>NERD Skincare</li>
                        <li>DEVELOPING A BRAND THAT BROUGHT SCIENCE TO BEAUTY IN BOLD, UNEXPECTED WAYS </li>
                    </ul>
                </div>
                <div class="SoftBank">
                        <ul>
                            <li>
                                <img src='assets/img/brixon.jpg' alt=''>
                            </li>
                        <li>Brixton</li>
                        <li>HONORING THE PAST TO BUILD THE FUTURE OF THE BRIXTON BRAND</li>
                    </ul>
                </div>
            </div> 
        </section>
    </main>

    <script src="assets/js/main.js"></script> 
    <%- include('./partials/footer') %>

    