@font-face {
    font-family: "scto-bold";
    src: url("../fonts/SctoGroteskA-Bold.woff2");
}
@font-face {
    font-family: "scto-medium";
    src: url("../fonts/SctoGroteskA-Medium.woff2");
}
@font-face {
  font-family: "scto-regular";
  src: url("../fonts/SctoGroteskA-Regular.woff2");
}
* {
   margin: 0;
   padding: 0;
}

body {
    background-color: #f4f4f4;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}

#navbar {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-top: 2%;
    align-items: baseline;
    font-family: "scto-regular";
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
}

.navLogo {
    width: 8%;
}
.hamburgerMenu {
    width: 2%;
}
.navItem {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-bottom: 2%;
}

/* /////////// INDEX /////////////// */
#INDEXsection{
  color: #252422;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
}

.videos video {
  width: 100%;
  border-bottom: 2px solid #252422;
  padding-bottom: 2%;
}

#INDEXsection h1 {
  font-size: 5rem;
  width: 50%;
}

#INDEXsection h1 {
  font-size: 80px;
  width: 50%;
}
#INDEXsection h2 {
  font-size: 80px;
  text-align: right;
  margin-top: 2%;
}
.punkt {
  background: #252422;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-block;
}

#INDEXsection p {
  margin-top: 1%;
}

#IndexArticle {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  margin-top: 4%;
  padding-bottom: 10%;
  border-bottom: 2px solid #252422;
}
.basic {
  width: 50%;
}
.basic h3 {
  font-size: 2.6rem;
  margin-bottom: 15%;
}
.basic a {
  font-family: "scto-bold";
  border: 1px solid #252422;
  padding: 1% 6%;
  border-radius: 30px;
}
.basic a:hover {
  color: #fff;
  background-color: #252422;
}

.logoo {
  width: 30%;
}
/*//////////// scrole ///////////////*/

#scrole{
  color: #252422;
  width: 90%;
  margin:8% 5% 5% 5%;
}

.scroleDiv {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow-x: auto;
  margin-top: 5%;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  min-width: 100%;
}
.scroleDiv div{
  min-width: 29%;
  margin-right: 7%;
  margin-bottom: 10%;
}

.scroleDiv  img{
  width:30%;
  margin-bottom: 2%;
}

#scrole h1 {
  font-size: 50px;
  width: 30%;
}

.scroleDiv h6 {
  width: 20%;
  font-size:20px;
}

.scroleDiv h4 {
  font-size: 23px;
  margin-top: 10%;
}

.scroleDiv h5 {
  font-size: 20px;
  width: 70%;
  margin-top: 4%;
  padding-top: 4%;
  border-top: 2px solid #252422;
}

#IndexSection2{
  margin: 5% 5% 0% 5%;
  color: #f9cdcd;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #252422;
}

.Helps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
  padding-top: 10%;
  width: 100%;
}

.video2 {
  width: 80%;
}
.video2 video {
  width: 100%;
}

.Helps1 a {
  border: 1px solid #f9cdcd;
  padding: 1% 6%;
  border-radius: 30px;
}

.Helps1 a:hover {
  color: #252422;
  background: #f9cdcd;
  border: 1px solid #f9cdcd;
  padding: 1% 6%;
  border-radius: 30px;
}

.Helps1 h3 {
  font-size: 90px;
  width: 65%;
  height: 80vh;
}

.Helps1 p {
  font-family: "scto-regular";
  margin-top: 8%;
  margin-bottom: 15%;
}

#FeaturedNews h1 {
  font-family: "scto-bold";
  font-size: 3rem;
}
.News {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  border-top: 2px solid #f9cdcd;
  padding-top: 3%;
}
.adweekNews {
  width: 80%;
  display: flex;
}
.adweekText h2 {
  font-family: "scto-medium";
  font-size: 3rem;
  margin-left: 3%;
  width: 80%;
}
.adweekText p {
  font-family: "scto-regular";
  margin-top: 20%;
  margin-left: 3%;
  font-size: 20px;
}
.adweekText span {
  margin-left: 4%;
}
.adweekNews img {
  width: 40%;
}
.NewsImg {
  text-align: right;
}
.NewsImg img {
  width: 30%;
}

/* ///////// FOOTER /////////// */
.footerSection1 div {
  background: url(../img/footer-logo-bg-white.svg) center/cover no-repeat;
  height: 4vh;
  width: 5.3%;
  display: none;
}
.footerSection {
  color: #f4f4f4;
  background-color: #252422;
  min-height: 70vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  width:90%;
}
.footerSection1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  margin-bottom: 15%;
}
.footerSection1 h3 {
  font-size: 2.5rem;
  width: 45%;
}
.footerSection1 span {
  text-decoration: underline;
}
.footerSection1 img {
  width: 5%;
}
.stay {
  display: grid;
  grid-template-columns: 50% 20% 20% 20%;
  width: 90%;
}
.stay h2 {
  margin-bottom: 5%;
  font-size: 25px;
}
.stay li {
  font-size: 20px;
  margin-bottom: 2%;
}
.EmailFeld h3 {
  font-size: 25px;
  margin-bottom: 2%;
}
.EmailFeld p {
  font-size: 25px;
  margin-bottom: 2%;
}
.EmailFeld input {
  border: none;
  background-color: #252422;
  border-bottom: 2px solid #f4f4f4;
  width: 96%;
}
footer {
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(31, 30, 29);
  height: 10vh;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}












/* /////////////  WORK //////////////// */
#WorkMain{
  width: 90;
  margin: 0% 5% 0% 5%;
}
#EASY h1{
  font-size: 100px;
  width: 50%;
  margin-top:10%;
  margin-bottom: 12%;
  font-family: "scto-bold";
}

#EASY p{
  margin: 5% 0% 5% 63%;
  font-size:25px ;
  width:37%;
  font-family: "scto-regular";
}

#WorkSection{
  display: flex;
  border-top: 1px solid #252422;
  width: 100%;
  height: 100vh;
}


.vedio3 , .Beats{
  width: 50%;
}

.vedio3 video{
  width:100%;
  height:60vh;
}

 
.one4 ,.zwei4 ,.drei4 ,.fier4{
  width: 35%;
  margin-top: 2%;
} 


.one4 li:nth-of-type(1) ,.zwei4 li:nth-of-type(1) ,.drei4 li:nth-of-type(1) ,.fier4 li:nth-of-type(1) {
  font-size: 25px;
  font-family: "scto-medium";
}

.one4 li:nth-of-type(2) ,.zwei4 li:nth-of-type(2) ,.drei4 li:nth-of-type(2) ,.fier4 li:nth-of-type(2){
  font-size: 30px;
  width:50%;
  padding-top: 40%;
  font-family: "scto-medium";
}

.one4 li:nth-of-type(3) ,.zwei4 li:nth-of-type(3),.drei4 li:nth-of-type(3) ,.fier4 li:nth-of-type(3){
  font-size: 18px;
  width:95%;
  padding-top: 10%;
  font-family: "scto-regular";
}

.one4 a ,.zwei4 a  ,.drei4 a ,.fier4 a{
  display: inline-block;
  font-family: "scto-bold";
  border: 1px solid #252422;
  padding: 1% 6%;
  border-radius: 30px;
  margin-top: 20%;
}

.one4 a:hover ,.zwei4 a:hover, .drei4 a:hover, .fier4 a:hover {
  color: #fff;
  background-color: #252422;
}

.einsFier ,.zweiFier ,.dreiFier ,.fierFier{
  display: flex;
  width: 70%;
  margin-top: 2%;
  border-left: 1px solid #252422;

}
.Beats img {
  display: flex;
  width:95%;
  height: 60vh;
}

.vedio3 li:nth-of-type(2) , .Beats li:nth-of-type(2) {
  font-size: 25px;
  font-weight: bold;
  padding-top: 5%;
  font-family: "scto-bold";
}

.vedio3 li:nth-of-type(2){
  padding-left: 7%;
} 


.vedio3 li:last-child  {
  font-size:17px;
  width: 50%;
  padding-top: 6%;
  font-family: "scto-medium";
  padding-left: 7%;
}

.Beats li:last-child {
  font-family: "scto-medium";
  font-size:17px;
  width: 50%;
  padding-top: 6%;
}

.PHOTOS ul{
  padding-left: 5%;
}

.BEA2 img ,.PHOTOS img{
  width:96%;
  height: 60vh;
}


.PHOTOS li:nth-of-type(2) , .BEA2 li:nth-of-type(2) {
  font-size: 25px;
  font-weight: bold;
  padding-top: 5%;
  font-family: "scto-bold";
}

.PHOTOS li:last-child  {
  font-size:17px;
  width: 50%;
  padding-top: 6%;
  font-family: "scto-medium";
  padding-left: 1%;
}

.BEA2 li:last-child {
  font-family: "scto-medium";
  font-size:17px;
  width: 50%;
  padding-top: 6%;
}

















/* ////////////// CONTACT ////////////// */
#ContactMain{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
}

#ContachtSection{
  display: flex;
  min-height: 130vh;
}

.contPhoto{
  height:100vh;
  width: 50%;
  background:url(/assets/img/Contact-Header.jpg) center /100% no-repeat;
}

.BRDIV ul{
  padding-top: 15%;
  padding-left: 3%;
  padding-bottom: 5%;
}

.BR ,.CON{
  font-size: 85px;
  font-family: "scto-bold";
}

.EAS{
  font-size:17px;
  width:40% ;
  font-family: "scto-medium";
  padding-top: 10%;
  padding-bottom: 25%;
}

.NEW{
  display: flex;
  padding-left: 35%;
  margin-top: -10%;
}
.NEW ul{
  padding-left: 10%;
}


.NE{
  font-size:20px;
  font-family: "scto-medium";
}

.HI{
 padding-top: 15%;
 padding-bottom: 15%;
}
.HI2{
  padding-top: 27%;
  padding-bottom: 15%;
 }

 .punkt2 {
   margin-left: 3%;
  background: #252422;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-block;
}

#ContachtSection2{
  border-top:1px solid #252422;
}

.head{
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  font-family: "scto-medium";
}

.head h4:nth-of-type(3){
  background: #252422;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.head h4:nth-of-type(2){
    margin-left: -35%;
}

#ContachtSection2 section{
  display: flex;
  padding-top: 3%;
  border-bottom: 1px solid #252422;
  margin-bottom: 5%;
  padding-bottom: 3%;
}

.offices{
  width: 33%;
  font-family: "scto-bold";
  font-size: 30px;
  border-right: 1px solid #252422;

}

.SA{
  display: flex;
  border-bottom: 1px solid #252422;
  margin-left: 5%;
}

.SAN{
  padding-left: 3%;
  margin-top: 4%;

}

.SAN img{
 height: 70vh;
 width: 80%;
}
.SAN h3{
  font-size:20px;
  font-family: "scto-medium";
  margin-top: 2%;
  margin-bottom:2%;
 }
.SAN span{
  padding-left: 68%;
}


.sandiego{
  font-size:20px;
  width: 30%;
  font-family: "scto-medium";
  margin-top:4%;
}

#FollowArticle {
  display: flex;
  height: 50vh;
}

#FollowArticle div{
  width: 30%;
  margin-top:5%;
}

.follow{
  font-size:25px;
  font-family: "scto-medium";
}

.social {
  padding-left: 3%;
  font-family: "scto-regular";
}

.social h2{
  padding-bottom: 5%;
  font-family: "scto-medium";
}

.social li{
  font-size:20px;
  padding-bottom: 5%;

}









